<div class='main__container--right--body-dashboard'>
  <div class='main__container--right--dashboard-header'>
    Dashboard
  </div>
  <div class="main__container--right--body--dashboard-content">
    <div class='main__container--right--body--dashboard--content-item'>
      <div class='main__container--right--body--dashboard--content--item-title'>Top 5
        Customers</div>
        <div class="main__container--right--body--dashboard--content--item-hr"></div>
      <div class='main__container--right--body--dashboard--content--item-body'>
        No Data
      </div>
    </div>
    <div class='main__container--right--body--dashboard--content-item'>
      <div class='main__container--right--body--dashboard--content--item-title'>Monthly
        Invoices</div>
        <div class="main__container--right--body--dashboard--content--item-hr"></div>
      <div class='main__container--right--body--dashboard--content--item-body'>
        No Data
      </div>
    </div>
    <div class='main__container--right--body--dashboard--content-item'>
      <div class='main__container--right--body--dashboard--content--item-title'>Monthly
        Estimates</div>
        <div class="main__container--right--body--dashboard--content--item-hr"></div>
      <div class='main__container--right--body--dashboard--content--item-body'>
        No Data
      </div>
    </div>
    <div class='main__container--right--body--dashboard--content-item'>
      <div class='main__container--right--body--dashboard--content--item-title'>Quick
        Actions</div>
        <div class="main__container--right--body--dashboard--content--item-hr"></div>
      <div class='main__container--right--body--dashboard--content--item-body'>
        No Data
      </div>
    </div>
    <div class='main__container--right--body--dashboard--content-item'>
      <div class='main__container--right--body--dashboard--content--item-title'>Session
        History</div>
        <div class="main__container--right--body--dashboard--content--item-hr"></div>
      <div class='main__container--right--body--dashboard--content--item-body'>
        No Data
      </div>
    </div>
  </div>
</div>