<div class='main__container--right--body-users'>
  <div class='main__container--right--users-header'>
    <div>Users</div>
    <div>
      <button type='button' class='btn btn-primary'>Add New User</button>
    </div>

  </div>
  <div class='main__container--right--body--users-content'>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th scope='col'>#</th>
          <th scope='col'>Full Name</th>
          <th scope='col'>Email</th>
          <th scope='col'>Last Login</th>
          <th scope='col' style="width:80px;"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Carlos Ernesto Sosa Morasso </td>
          <td>cesosa@gmail.com</td>
          <td>2/22/23 8:34:00 pm</td>
          <td>
            <i class="fa-regular fa-pen-to-square"></i>
            <i class='fa-solid fa-trash'></i>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>Gustavo Michael </td>
          <td>gustavomichael@gmail.com</td>
          <td>2/22/23 8:33:21 am</td>
          <td>
            <i class="fa-regular fa-pen-to-square"></i>
            <i class='fa-solid fa-trash'></i>
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td>Valentina Gimenez </td>
          <td>valentinagimenez@gmail.com</td>
          <td>2/22/23 5:33:12 pm</td>
          <td>
            <i class="fa-regular fa-pen-to-square"></i>
            <i class='fa-solid fa-trash'></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>