<!-- Modal -->
<div
  class="modal fade"
  id="customerDelAlert"
  tabindex="-1"
  aria-labelledby="customerDelAlertLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="customerDelAlertLabel">
          Confirm delete
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="" id="customerDeleteForm" method="post">
          <input
            type="hidden"
            name="customerId"
            id="customerDelFormCustomerId"
            value=""
          />
          Are you sure you want to delete the customer:
          <span class="customerDelAlert_customer"></span>
          ?
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button type="submit" form="customerDeleteForm" class="btn btn-danger">
          <i class="fa-solid fa-trash-can"></i> Delete
        </button>
      </div>
    </div>
  </div>
</div>
